body {
  background: #dddddd;
}

#closeButton {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 998040;
  background-image: url("images/fancybox_sprite.svg");
}
